<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkr.storeserver.mapper.InventorySkuMapper">

    <update id="updateQuantityIfUnchanged">
        UPDATE inventory_sku
        SET quantity = #{afterQuantity},
            update_time = NOW()
        WHERE id = #{id}
          AND quantity = #{beforeQuantity}
    </update>
</mapper>
